{% extends 'blog/base.html' %}

{% block content %}
    <form action="{% url 'confirm' %}" method="post">
        {% csrf_token %}
        <table>
            <!-- 氏名 -->
            <tr>
                <td align= "left" valign="top">{{input_form.name.label_tag}}</td>
                <td>{{input_form.name}}</td>
            </tr>
            <!-- メモ -->
            <tr>
                <td align="left" valign="top">{{input_form.memo.label_tag}}</td>
            </tr>
            <!-- 入力確認 -->
            <tr>
                <td align="left" valign="top">{{input.form.check.label_tag}}</td>
            </tr>
        </table>
        <br/><br/>
        <input type="submit" name="comfirm" value="確認" />
    </form>
{% endblock %}